name: Build and Deploy to PROD
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Log into Docker hub
        run: docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag gyaneshm/slackbot-workout:latest

      - name: Push to docker hub
        run: docker push gyaneshm/slackbot-workout:latest

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v0.0.2
      - name: SSH into instance and deploy docker image
        env:
          PRIVATE_KEY: ${{ secrets.AWS_EB_FRESHWORKS_KEY }}
          HOST: ${{ secrets.AWS_INSTANCE_IP_ADDRESS }}
          USER: ec2-user
        with:
          args: ls -la
