name: Build and Deploy to PROD
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Log into Docker hub
        run: docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag gyaneshm/slackbot-workout:latest

      - name: Push to docker hub
        run: docker push gyaneshm/slackbot-workout:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH into instance and deploy docker image
        uses: appleboy/ssh-action@v0.0.2
        env:
          KEY: ${{ secrets.AWS_EB_FRESHWORKS_KEY }}
          HOST: ${{ secrets.AWS_INSTANCE_IP_ADDRESS }}
          SLACK_URL_TOKEN_STRING: ${{ secrets.SLACK_URL_TOKEN_STRING }}
          SLACK_USER_TOKEN_STRING: ${{ secrets.SLACK_USER_TOKEN_STRING }}
          SLACK_VERIFICATION_TOKEN: ${{ secrets.SLACK_VERIFICATION_TOKEN }}
        with:
          args: >
            --user 'ec2-user'
            --script 'if [ -x "$(command -v docker)" ]; then echo "Docker already installed"; else sudo yum install -y docker; fi'
            --script 'sudo docker pull gyaneshm/slackbot-workout:latest'
            --script 'sudo docker rm -f freshworkout || true'
            --script 'sudo docker run -d -p 5000:5000 --env SLACK_URL_TOKEN_STRING --env SLACK_USER_TOKEN_STRING --env SLACK_VERIFICATION_TOKEN --name freshworkout gyaneshm/slackbot-workout'
