name: Trigger the workout bot every Friday at 9:01 AM
on:
  schedule:
    - cron: "01 16 * * Fri"
jobs:
  trigger-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Check if the site is running
        uses: wei/curl@v1.1.1
        with:
          args: -X POST ${{ secrets.AWS_INSTANCE_IP_ADDRESS }}:5000 -d '{token = ${{ secrets.SLACK_VERIFICATION_TOKEN }}, command = status}'

      - name: Stop the server if running
        uses: wei/curl@v1.1.1
        with:
          args: -X POST ${{ secrets.AWS_INSTANCE_IP_ADDRESS }}:5000 -d '{token = ${{ secrets.SLACK_VERIFICATION_TOKEN }}, command = stop}'

      - name: Start server
        uses: wei/curl@v1.1.1
        with:
          args: -X POST ${{ secrets.AWS_INSTANCE_IP_ADDRESS }}:5000 -d '{token = ${{ secrets.SLACK_VERIFICATION_TOKEN }}, command = start}'
